@import "../../../../app.global.scss";

mgl-map {
    height: 100%;
    width: 100%;
}

#appMapContainer {
    width: 100%;
    height: 65vh;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: $screen-width-desktop) {
    /* Styles */
    #appMapContainer {
        height: 50vh;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: $screen-width-monitor) {
    /* Styles */
    #appMapContainer {
        height: 65vh;
    }
}