<div id="appHomeContainer" [ngClass]="{appSuperZoom: this.isSuperZoom}" [style]="this.basePageHeightStyle">
    <!-- Header bar -->
    <app-header></app-header>

    <!-- Full page image defined in SCSS -->
    <div id="appHomeImage"></div>

    <div id="appHomepageContent" #mainContents>

        <div class="appFillContainer">

            <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutAlign="end center"
                fxLayoutAlign.xs="start center"
                fxLayoutAlign.sm="start center"
                fxFlex>

                <div
                    fxFlex="50"
                    fxFlex.xs="100"
                    fxFlex.sm="100"
                    id="appHeroContainer">

                    <div class="appHomepageText" id="appHeroContent">
                        <p>
                            You can play a critical role in wildlife health surveillance!
                        </p>

                        <p>
                            {{this.appName}} ({{ this.appAbbrev }}) is the Pennsylvania Game Commission's online tool for public reporting of wildlife health issues within the Commonwealth. 
                            Please submit observations of wild birds or mammals that have died, appear injured or sick, or are acting abnormally. Remember to always remain at a safe distance when observing wildlife and do not handle injured, sick, or dead wildlife. 
                            
                        </p>
                        <p>
                            If your observation requires immediate assistance, please contact the <a class="appHomeLink" href="https://www.pgc.pa.gov/InformationResources/AboutUs/ContactInformation/Pages/default.aspx" target="_blank">Game Commission office in your region</a>. 
                        </p>

                        <p>
                            Thank you for using {{ this.appAbbrev }}! With your help, the Game Commission can quickly track, respond to, and investigate wildlife health events.
                        </p>
                    </div>

                    <button mat-flat-button color="basic" id="appObservationButton" type="button" (click)="this.createObservation()">
                        Submit an Observation
                    </button>

                </div>

            </div>

        </div>

    </div>

    <app-footer class="appOnHomepage" [ngClass]="{appSuperZoom: this.isSuperZoom}"></app-footer>

</div>

<div id="appUploadButtonContainer">
    <app-upload-offline (uploadProcessed)="this.uploadProcessed($event)" (alluploadsProcessed)="this.alluploadsProcessed($event)" [offlineObs]="this.offlineObs" [offlineObsCount]="this.offlineObsCount"></app-upload-offline>
</div>
