
.appSearchForm {
  min-width: 9.375rem;
  max-width: 31.25rem;
  width: 100%;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  height: 3.25rem;
}

.appSearchContainer {
  width: 30rem;
  padding: 0.1rem 1rem;
  background-color: rgba(243, 243, 243, 0.71);
  border-radius: 1rem;
}

.appSearchIcon {
  position: absolute;
  right: 1.0rem;
  color: #757575;
}
  
.appClearIcon {
  position: absolute;
  right: 2.35rem;
  color: #f32b2b;
  cursor: pointer;
}
  